/* Fonts Styles */

    html {
        font-size: 16px;
    }

    h1 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-size: 3.5em;
        font-weight: 600;
        line-height: 1em;
        margin-bottom: 0.1em;
        margin-top: 0px;
        color: #40485E;
    }

    h2 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.1em;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        margin-bottom: 0em;
        color: #975ADA;
    }

    h4 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1em;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #40485E;
    }

    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 0.8em;
        margin-bottom: 0.5em;
        color: #975ADA;
    }

    h5 i {
        margin-right: 8px;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #5F5A5A;
    }

    .card p {
        font-size: 0.8em;
        margin: 1em 0 0 0;
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #40485E;
        text-decoration: none;
    }

    a:hover {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        color: #40485E;
        text-decoration: underline;
        color: #975ADA;
    }

    a:active {
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: #40485E;
        text-decoration: underline;
        color: #6325A7;
    }

/* Color Styles */

    .color-primary {
        color: #975ADA;
    }

    nav {
        width: 100%;
        background-color: #EBECEE;
    }

/* Body */

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #f3f3f3;

    }


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0px 100px;
        max-width: 1200px;
        box-sizing: border-box;
    }


/* Nav */

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 24px 12px;
        width: 100%; /* Ensure it takes full width */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        background-color: #EBECEE; /* Ensure background color spans full width */
    }

    .navBar-nav {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navBar-nav li {
        display: inline; /* Ensure list items are displayed inline */
        margin-right: 8px; /* Space between list items */
    }

    .navBar-nav li:last-child {
        margin-right: 0; /* Remove margin from the last item */
    }

    .navBar-nav a {
        text-decoration: none;
        color: #40485E;
        padding: 5px 8px; /* Add padding inside the links */
        display: inline-block;
    }

    .navbar-brand img {
        width: 291px;
    }

/* Hero */

    .heroImage {
        border-radius: 24px;
        align-items: center;
        border: 20px;
        color: white;
    }

    .heroImage img {
        max-width: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 24px solid white;
        box-sizing: border-box; /* Ensures the border is inside the image */
    }

/* About Me */

    .content-aboutMe {
        margin-top: 40px;
    }

/* Portfolio */

    .content-portfolio .content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 650px;
        margin: 0 auto;
    }

    .content-portfolio .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
        justify-content: center; /* Centers the grid within the container */
        align-items: center; /* Vertically centers the items in each cell */
        gap: 40px; /* Space between grid cells */
        width: 100%; /* Full width of the container */
        max-width: 1200px; /* Maximum width of the container */
        margin: 0 auto; /* Centers the container horizontally */
        padding: 20px; /* Padding around the grid */
    }

/* Cards */

    .card {
        background-color: white;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 32px;
        box-shadow: 0px 4px 8px 0px rgba(33, 33, 33, 0.05);
    }


    .content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 350px;
        max-width: 600px;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        margin-right: 2em;
    }

/* Footer */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        box-sizing: border-box;
        padding: 20px 0; /
        margin: 0; 
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .footer-text p {
        margin: 0px;
    }

    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Spread items across full width */
        align-items: center; /* Center items vertically */
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px; /* Add padding for spacing */
    }

    .footer-socials h4 {
        margin: 0; /* Ensure no margin around the heading */
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center; /* Ensure the icons are centered vertically */
        gap: 20px; /* Space between icons */
    }

    .socials i {
        color: #40485E;
        font-size: 24px;
        transition: color 0.3s ease;
    }

    .socials i:hover {
        color: #975ADA;
    }

/* HR */

    hr {
        width: 100%;
        border: none; /* Remove default border */
        height: 0.5px; /* Set desired height */
        background-color: #e2e3e4; /* Set desired color */
        margin: 20px 0; /* Add some margin for spacing */
    }


/* Images */

    .heroImage, .aboutMe-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .image-aboutMe {
        width: 50%;
    }

